<h1><%= @flat.name %></h1>

<ul class="list-unstyled">

    <li><%= @flat.name %></li>  
    <li><%= @flat.address %></li>  
    <li><%= @flat.description %></li>  
    <li><%= @flat.price_per_night %></li>  
    <li><%= @flat.number_of_guests %></li>

</ul>
    <li><%= link_to 'Back home', flats_path %></li>
